.container {
  font-size: clamp(14px, 1.1vw, 18px);

  .label {
    color: #333333;
    text-align: end;
    margin-bottom: 10px;
  }

  .select_file {
    padding: 9px;
    display: flex;
    border-radius: 5px;
    background-color: #dadde0;

    .delete {
      cursor: pointer;
    }

    .file {
      direction: rtl;
      margin-left: auto;
      color: rgba(51, 51, 51, 0.7);
    }
  }
}


