$border_color: #c4c5c9;

.top_part {
  background-color: #295cc0;
  width: 100%;
  height: 13.1%;
  border-radius: 30px 10px 0 0;
}

.title {
  direction: rtl;
  display: flex;
  flex-direction: row;
  color: white;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  font-weight: bold;
  font-size: clamp(15px, 1.1vw, 23px);
}

.title_image {
  margin-left: 8%;
  margin-right: 11.1%;
  height: clamp(15px, 43%, 28px);
  width: clamp(15px, 6.7%, 28px);
  align-self: center;
}

.container_upload {
  border-radius: 30px 10px 30px 10px;
  box-shadow: 0 2px 2px 0 $border_color, 0 0 8px 0 $border_color;
  border: 1px solid $border_color;
  width: 31.6%;
  height: 52%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 7.7vh;

  .upload_body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .upload_text {
    color: #454647;
    font-weight: bold;
    font-size: clamp(16px, 1.1vw, 22px);
    margin-top: 23%;
    margin-bottom: 20%;
  }

  .attachment_box {
    border: 1px solid #cfcfd3;
    width: 65.1%;
    height: 3.6vh;
    border-radius: 5px;
    margin-bottom: 19.9%;
  }

  .input_file {
    display: none;
  }

  .input_box {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  .upload_icon {
    height: clamp(12px, 1.9vh, 22px);
    width: clamp(10px, 0.9vw, 18px);
    cursor: pointer;
    position: fixed;
    left: 31vw;
  }

  .attached_file {
    height: 3.4vh;
    display: flex;
    padding: 0 10px;
    border-radius: 5px;
    align-items: center;
    transition: all 0.5s;
    background-color: #44bbbf;
  }

  .cancel_icon {
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin-left: 5px;
    transition: all 0.2s;
  }

  .file_name {
    margin: 0;
    color: white;
    overflow: hidden;
    user-select: none;
    white-space: nowrap;
  }

  .submit_button {
    background-color: #1975bb;
    color: white;
    width: 8.1vw;
    height: 3.5vh;

    span {
      font-size: clamp(10px, 0.9vw, 16px);
      font-weight: bold;
    }
  }
}
