.header {
  height: 14vh;
  display: flex;
  color: #103cb7;
  flex-shrink: 0;
  font-size: 18px;
  min-height: 100px;
  padding-right: 5%;
  font-weight: bold;
  align-items: center;
  justify-content: flex-end;

  img:nth-child(3) {
    width: 4rem;
    height: 3.3rem;
    cursor: pointer;
    margin: 0 0 0 3vw;
  }

  .grid {
    width: 2rem;
    height: 2rem;
    margin: 0 0 0 3vw;
  }
}

.breadcrumb {
  display: flex;
  padding: 10px 5%;
  background: #f1f1f2;
  flex-direction: column;
  justify-content: center;
  border: 2px solid #a9aab078;

  span {
    font-size: 15px;
  }

  & > span {
    font-size: 25px;
    margin-top: 5px;
    color: #06239a;
    font-weight: 600;
    align-self: flex-end;
  }

  a {
    color: #777a80;
  }

  :global {
    span.ant-breadcrumb-link {
      color: #424449;
      user-select: none;
    }
  }
}
