.container {
  display: flex;
  padding: 30px 3vw;
  align-items: center;
  flex-direction: column;

  .ticket_info_container {
    width: 100%;
    color: #fff;
    display: flex;
    padding: 30px 50px;
    border-radius: 10px;
    flex-direction: column;
    background-color: #0088e3;

    p {
      margin: 0;
    }

    .ticket_info_top {
      display: flex;
      font-weight: 600;
      text-align: right;
      margin-bottom: 10px;
      justify-content: flex-end;
      font-size: clamp(15px, 1.2vw, 22px);

      span:last-of-type {
        margin-left: 10px;
      }
    }

    .ticket_info_bottom {
      display: flex;
      justify-content: space-around;
      font-size: clamp(15px, 1.2vw, 22px);
    }
  }

  .tags_container {
    width: 100%;
    display: flex;
    padding: 27px;
    margin-top: 30px;
    border-radius: 10px;
    justify-content: flex-end;
    background-color: #e0f7ff;

    p {
      color: #9e9797;
      font-size: 18px;
      user-select: none;
      margin: 5px 15px 0;
    }

    .hashtag_icon {
      width: 32px;
      height: 32px;
    }
  }

  .chat_container {
    width: 100%;
    display: flex;
    overflow: hidden;
    margin-top: 40px;
    min-height: 100vh;
    border-radius: 20px;
    margin-bottom: 25px;
    background: #e7f5ff;
    flex-direction: column;
    box-shadow: 0 3px 8px 0 #76787d;

    &_header {
      display: flex;
      padding: 15px 25px;
      background: rgba(164, 173, 180, 0.25);

      .items {
        width: 40px;
        height: 40px;
        margin: 0 7px;
        display: grid;
        cursor: pointer;
        border-radius: 50%;
        background: #eff0f4;
        place-content: center;

        &:nth-child(1) img {
          width: 25px;
          height: 25px;
        }

        &:nth-child(2) img {
          width: 20px;
          height: 20px;
        }
      }

      p {
        font-weight: 600;
        font-size: clamp(15px, 1vw, 20px);
        margin: auto 0 auto auto;
      }
    }

    .message {
      width: 50%;
      color: white;
      margin: clamp(13px, 4vh, 48px) 60px;
      border-radius: 25px;
      background-color: #2168bd;

      p {
        margin: 0;
      }

      &_user {
        display: flex;
        align-items: center;

        p {
          margin: 0 2rem;
          font-size: 18px;
          font-weight: 600;
        }

        &_avatar {
          width: 75px;
          height: 75px;
          border-radius: 50%;
        }
      }

      &_content {
        margin: 20px;
      }

      &_time {
        display: flex;
        user-select: none;
        margin: 0 20px 20px;
        justify-content: space-between;
      }
    }
  }

  .send_message {
    display: flex;
    padding: 0 37px;
    margin-top: auto;
    align-items: center;
    background-color: white;

    &_input {
      margin: 10px 30px;

      &_innerContainer {
        border: hidden !important;
        box-shadow: 0 0 0 0 !important;
      }
    }

    &_icons {
      cursor: pointer;
    }

    .attachment_input {
      display: none;
    }
  }

  .attachment {
    height: 36px;
    display: flex;
    margin: 0 5px;
    padding: 0 10px;
    border-radius: 5px;
    align-items: center;
    transition: all 0.5s;
    background-color: #26a9ad;

    &_icon {
      width: 20px;
      height: 20px;
      cursor: pointer;
      margin-left: 5px;
      transition: all 0.2s;

      &:hover {
        filter: alpha(opacity=0.65);
      }

      &:last-child {
        width: 16px;
        height: 16px;
      }
    }

    &_input {
      display: none;
    }

    .name {
      margin: 0;
      color: #ffffff;
      overflow: hidden;
      user-select: none;
      white-space: nowrap;
    }
  }
}
