.container {
  width: 100%;
  height: 100%;
  display: flex;
  overflow-y: scroll;
  align-items: center;
  flex-direction: column;

  .header {
    width: 100%;
    display: flex;
    font-size: 18px;
    padding-right: 5%;
    font-weight: bold;
    align-items: center;
    background-color: #265ecd;
    justify-content: flex-end;
    height: clamp(90px, 9.7vh, 111px);

    img:nth-child(2n) {
      height: 3rem;
      width: 3.6rem;
      cursor: pointer;
      margin: 0 0 0 3vw;
    }

    svg {
      width: 2rem;
      height: 2rem;
      margin: 0 0 0 3vw;
      filter: brightness(0) invert(1);
    }

    a {
      color: #ffffff;
      font-weight: 400;
      font-size: clamp(13px, 0.9vw, 16px);
      margin-left: clamp(8px, 3.4vw, 64px);

      &:last-of-type {
        font-weight: bold;
      }
    }
  }

  .card_container {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: clamp(350px, 30%, 566px);

    .loading {
      top: 50%;
      position: absolute;
    }

    .avatar {
      margin-top: 3vh;
      border-radius: 50%;
      border: solid 5px #265ecd;
      width: clamp(100px, 8vw, 150px);
      height: clamp(100px, 8vw, 150px);
    }

    .upload_image {
      display: none;
    }

    .input_box_title {
      color: #000000;
      margin: 2vh 0 0;
      font-weight: bold;
      font-size: clamp(16px, 1.7vw, 32px);
    }

    .input_box_description {
      color: #707070;
      margin: 4vh 0 0;
      font-size: clamp(12px, 0.9vw, 16px);
    }

    .input_class {
      width: 100%;
      margin-bottom: 6%;
    }

    .input {
      background-color: #ffffff;
      font-size: clamp(14px, 1.1vw, 20px);
    }

    .input_label {
      font-size: clamp(14px, 1.1vw, 20px);
    }

    .submit_container {
      width: 100%;
      display: flex;
      margin-top: 6%;
      align-items: center;

      .tag_input_class {
        width: 80%;
      }

      .enter_button {
        width: 20%;
        height: 36px;
        margin-right: 10px;
        align-self: center;
        background-color: #26a9ad;

        &:hover {
          background-color: #27bdc1;
        }
      }
    }
  }
}
