.container {
  width: 100%;
  overflow: auto;
  height: inherit;
  background: #eeeeee;

  .header {
    width: 100%;
    display: flex;
    font-size: 18px;
    padding-right: 5%;
    font-weight: bold;
    align-items: center;
    justify-content: flex-end;
    background-color: #103cb7;
    height: clamp(90px, 9.7vh, 111px);

    img:nth-child(2n) {
      height: 3rem;
      width: 3.6rem;
      cursor: pointer;
      margin: 0 0 0 3vw;
    }

    svg {
      width: 2rem;
      height: 2rem;
      margin: 0 0 0 3vw;
      filter: brightness(0) invert(1);
    }

    a {
      color: #ffffff;
      font-weight: 400;
      font-size: clamp(13px, 0.9vw, 16px);
      margin-left: clamp(8px, 3.4vw, 64px);

      &:last-of-type {
        font-weight: bold;
      }
    }
  }

  .welcome {
    width: 100%;
    display: flex;
    text-align: start;
    align-items: center;
    padding: 15px 10% 15px 0;
    justify-content: flex-end;
    background-color: #00b9be;
    font-size: clamp(11px, 1.2vw, 23px);

    p {
      margin: 0;
      direction: rtl;
      color: white;
    }
  }

  .card_container {
    display: flex;
    margin: 7vh auto;
    min-height: 250px;
    position: relative;
    border-radius: 10px;
    align-items: center;
    flex-direction: column;
    border: solid 1px #dadde0;
    box-shadow: 0 2px 3px 0 #dadde0;
    padding: clamp(15px, 1.7vw, 32px);
    width: clamp(350px, 72vw, 1400px);

    .loading {
      top: 50%;
      position: absolute;
    }

    .avatar {
      object-fit: cover;
      border-radius: 50%;
      width: clamp(100px, 8vw, 150px);
      height: clamp(100px, 8vw, 150px);
    }

    .upload_image {
      display: none;
    }

    .input_box_title {
      margin: 2vh 0 0;
      color: #333333;
      font-weight: bold;
      font-size: clamp(16px, 1.5vw, 25px);
    }

    .input_box_description {
      margin: 2vh 0 0;
      color: #333333;
      font-size: clamp(12px, 0.9vw, 16px);
    }

    .topic_type_container {
      margin: 20px 0;
    }

    .input_container {
      margin-bottom: 50px;
    }

    .tag_and_file_container {
      width: 100%;
      display: flex;
      margin-top: 20px;
      justify-content: space-between;

      .tag_input_container {
        width: 45%;
      }

      .select_file_container {
        width: 45%;
      }
    }

    .submit_container {
      width: 100%;
      display: flex;
      margin-top: 20px;
      align-items: center;
    }
  }

  .footer {
    bottom: 0;
    z-index: 10;
    width: 100%;
    display: flex;
    position: absolute;
    text-align: center;
    align-items: center;
    padding: 15px 10% 15px 0;
    justify-content: center;
    background-color: #103cb7;
    font-size: clamp(11px, 1.2vw, 18px);

    p {
      margin: 0;
      margin-right: 10px;
      direction: rtl;
      color: white;
      display: inline;
    }
  }
}
