.container {
  margin: 5px;
  width: 250px;
  display: flex;
  padding: 15px;
  cursor: pointer;
  background: white;
  user-select: none;
  border-radius: 5px;
  align-items: flex-end;
  flex-direction: column;
  box-shadow: 0 0 2px 0 #0000001f;

  .title {
    font-size: 20px;
    font-weight: 600;
  }

  .last_ticket {
    margin-top: 5px;

    span {
      font-weight: 500;
    }
  }

  .no_last_ticket {
    font-weight: 600;
    color: #e02e2e;
  }

  .description {
    width: 100%;
    text-align: end;
    max-height: 70px;
    margin-top: 20px;
    overflow: hidden;
    margin-bottom: 20px;
    text-overflow: ellipsis;
  }

  .role {
    --color: #0c8fff;
    color: var(--color);
    margin-top: 8px;
    font-weight: 600;
    padding: 2px 5px;
    border-radius: 4px;
    background: #c4f0ff;
    border: 1px solid var(--color);
  }

  .label {
    color: #a5a5a5;
    font-weight: 600;
    margin-top: auto;
  }

  .ticket_total {
    --color: #e02e2e;
    color: var(--color);
    font-weight: 600;
    padding: 0px 5px;
    margin-left: 10px;
    border-radius: 4px;
    background: #ffc4c4;
    border: 1px solid var(--color);

    &_container {
      display: flex;
      align-items: center;
      flex-direction: row;
      margin-bottom: 20px;
    }
  }

  .actions {
    width: 100%;
    display: flex;
    margin-top: 15px;
    padding-top: 10px;
    font-size: 16px !important;
    justify-content: space-evenly;
    border-top: 1px solid #73737391;

    .action_edit {
      width: 25px;
      fill: #4191ff;
    }

    .action_trash {
      width: 25px;
      fill: #e02e2e;
    }

    .splitter {
      width: 2px;
      height: 85%;
      border-radius: 5px;
      background: #73737391;
    }
  }
}
