.container {
  width: 250px;
  display: flex;
  padding: 15px;
  cursor: pointer;
  background: white;
  user-select: none;
  border-radius: 5px;
  align-items: flex-end;
  flex-direction: column;
  box-shadow: 0 0 2px 0 #0000001f;

  .title {
    font-size: 20px;
    font-weight: 600;
  }

  .last_ticket {
    margin-top: 5px;

    span {
      font-weight: 500;
    }
  }

  .description {
    text-align: end;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .role {
    --color: #0c8fff;
    color: var(--color);
    margin-top: 8px;
    font-weight: 600;
    padding: 2px 5px;
    border-radius: 4px;
    background: #c4f0ff;
    border: 1px solid var(--color);
  }

  .label {
    color: #a5a5a5;
    font-weight: 600;
  }

  .ticket_total {
    --color: #e02e2e;
    color: var(--color);
    font-weight: 600;
    padding: 0px 5px;
    margin-left: 10px;
    border-radius: 4px;
    background: #ffc4c4;
    border: 1px solid var(--color);

    &_container {
      display: flex;
      align-items: center;
      flex-direction: row;
      margin-bottom: 20px;
    }
  }
}
