.container {
  width: 100%;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  font-size: clamp(14px, 1.1vw, 18px);
}

.input_class {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  background: #dadde0;
  border: 1px solid #e3e3e3;
}

.label {
  color: #333333;
  margin-bottom: 10px;
}

.failed_regex_focused_input_container {
  border-color: #e62e00;
  box-shadow: 0 0 8px 0 #e62e00;
}

.tags_container {
  width: 100%;
  display: flex;
  margin: 0 10px;
  padding: 10px 0;
  overflow-x: auto;
}
