.container {
  width: 100%;
  display: flex;
  margin-top: 10px;
  position: relative;
  align-items: flex-end;
  flex-direction: column;
  font-size: clamp(14px, 1.1vw, 18px);
}

.input_class {
  border: 0;
  width: 100%;
  background: inherit;
}

.input_container {
  width: 100%;
  padding: 10px;
  display: flex;
  border-radius: 5px;
  background: #dadde0;
  align-items: center;
  border: 1px solid #e3e3e3;
}

.icon {
  width: 20px;
  height: 20px;
  margin: 0 5px;
}

.label {
  color: #333333;
  margin-bottom: 10px;
}

.failed_regex_focused_input_container {
  border-color: #e62e00;
  box-shadow: 0 0 8px 0 #e62e00;
}

.tags_container {
  width: 100%;
  display: flex;
  margin: 0 10px;
  padding: 10px 0;
  overflow-x: auto;
}

.auto_complete_items {
  top: 100%;
  z-index: 2;
  width: 100%;
  opacity: 0.5;
  cursor: pointer;
  transition: 0.3s;
  position: absolute;
  border-radius: 8px;
  visibility: hidden;
  background-color: #eeeff1;
  transform: translateY(-10px);
  box-shadow: 0 0 0 0 #0000002e;

  &[data-active='true'] {
    opacity: 1;
    visibility: unset;
    transform: translateY(2px);
    box-shadow: 0 0 7px 1px #0000002e;
  }

  .auto_complete_item {
    color: #000;
    margin: 0.5px;
    display: flex;
    text-align: end;
    transition: all 0.3s;
    padding: 15px 20px 15px 10px;

    &:hover {
      overflow: hidden;
      position: relative;
      border-radius: 5px;
      background-color: #e8ebec;
    }

    p {
      flex: 1;
      margin: 0;
    }

    .checkmark {
      width: 20px;
    }
  }
}
