$input_primary_color: #0073ff;
$failed_regex_primary_color: #e62e00;

::placeholder {
  color: #B8B8B8;
}

.input_container {
  width: 100%;
}

.inner_container {
  direction: rtl;
  border-radius: 8px;
  position: relative;
  box-shadow: 0 0 0 0;
  display: inline-block;
  border: 1px solid #b8b8b8;
}

.focused_input_container {
  border-radius: 8px;
  border-color: $input_primary_color;
  box-shadow: 0 0 8px 0 rgba($input_primary_color, .65);
}

.inner_container {
  display: flex;
  flex-direction: column;
}

.content {
  display: flex;
  align-items: center;
}

.label {
  top: 50%;
  color: #b8b8b8;
  margin: 0 10px;
  font-size: 20px;
  transition: .2s;
  position: absolute;
  pointer-events: none;
  transform: translateY(-50%);
}

.label_margin {
  transform: translateY(calc(-50% - 25px));
}

.focused_label {
  top: -8px;
  padding: 0 5px;
  font-size: 20px;
  margin-right: 8px;
  visibility: visible;
  border-radius: 10px;
  background-color: #fff;
  color: $input_primary_color;
}

.input {
  width: 100%;
  outline: none;
  border: hidden;
  color: #606060;
  font-size: 20px;
  font-weight: 400;
  padding: .3em 10px;
  border-radius: 8px;
  font-family: inherit;

  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgb(38 ,169, 173);
    border-radius: 5px;
    background-color: #F5F5F5;
  }

  &::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background-color: #F5F5F5;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 6px rgb(38 ,169, 173);
    background-color: #555;
  }
}

.eye_svg {
  display: flex;
  margin-left: 10px;
  align-items: center;
  justify-content: center;
}

.failed_regex_focused_input_container {
  border-color: $failed_regex_primary_color;
  box-shadow: 0 0 8px 0 rgba($failed_regex_primary_color, .65);
}

.failed_regex_focused_label_color {
  color: $failed_regex_primary_color;
  border-color: $failed_regex_primary_color;
}

.tags_container {
  display: flex;
  margin: 0 10px;
  padding: 10px 0;
  overflow-x: scroll;
}

.scrollview {
  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgb(38 ,169, 173);
    border-radius: 5px;
    background-color: #F5F5F5;
  }

  &::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background-color: #F5F5F5;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 6px rgb(38 ,169, 173);
    background-color: #555;
  }
}

.attachments {
  padding: 7px;
  display: flex;
  overflow-x: scroll;
  flex-direction: row;

  .new {
    cursor: pointer;

    &:hover {
      background-color: #27bdc1;
    }
  }

  .attachment {
    height: 36px;
    display: flex;
    margin: 0 5px;
    padding: 0 10px;
    border-radius: 5px;
    align-items: center;
    transition: all 0.5s;
    background-color: #26a9ad;

    &_icon {
      width: 20px;
      height: 20px;
      cursor: pointer;
      margin-left: 5px;
      transition: all 0.2s;

      &:hover {
        filter: alpha(opacity=0.65);
      }

      &:last-child {
        width: 16px;
        height: 16px;
      }
    }

    &_input {
      display: none;
    }

    .name {
      margin: 0;
      color: #ffffff;
      overflow: hidden;
      user-select: none;
      white-space: nowrap;
    }
  }
}
