$mobile-header: #1743bf;

.container {
  display: flex;
  position: relative;
  flex-direction: row;
  scroll-snap-align: center;
  height: clamp(700px, 100vh, 1080px);
}

.landing_image {
  height: 110%;
}

@media (max-width: 1620px) and (min-width: 850px) {
  .landing_image {
    margin-left: calc(100vw - 1620px);
  }
}

@media (max-width: 850px) {
  .landing_image {
    position: absolute;
    right: calc(100% - 60px);
  }
}

.nav_link > a,
.nav_link > div {
  cursor: pointer;
  color: #707070;
  font-size: clamp(15px, 1.1vw, 20px);
}

.nav {
  padding-top: 8.5vh;
  margin-left: clamp(40px, 3.6vw, 70px);
  margin-right: clamp(26px, 7.2vw, 137px);

  @media screen and (max-width: 720px) {
    display: none;
  }
}

.nav img {
  height: 3rem;
  width: 3.6rem;
  margin: 0 0 0 2vw;
}

.nav svg {
  width: 2rem;
  height: 2rem;
  margin: 0 0 0 3vw;
}

.nav ul {
  padding: 0;
  display: flex;
  list-style: none;
  justify-content: space-between;
}

.nav li {
  display: flex;
  align-items: center;
  font-size: clamp(14px, 2vw, 18px);
}

.title {
  display: flex;
  margin: 0 14vw;
  min-height: 100%;
  font-weight: bold;
  user-select: none;
  padding-bottom: 15rem;
  vertical-align: middle;
  flex-direction: column;
  justify-content: center;
  font-size: clamp(30px, 3.2vw, 60px);
}

.title > p {
  margin: 0;
  text-align: end;
}

.title > p:nth-child(1) {
  color: #0a1f58;
}

.title > p:nth-child(1) span {
  color: #103cb7;
}

.title > p:nth-child(2) {
  color: #0a9ea2;
}

.title > p:nth-child(3) {
  margin-top: 3rem;
  color: #777777;
  font-weight: 500;
  text-align: right;
  font-size: clamp(14px, 1.1vw, 21px);
}

.mobile_header {
  top: 0;
  right: 0;
  width: 100%;
  z-index: 100;
  display: none;
  position: fixed;
  font-size: 20px;
  color: #ffffff;
  flex-direction: column;
  box-shadow: 0 1px 1px 0 $mobile-header;

  @media screen and (max-width: 720px) {
    display: flex;
  }

  &[data-active="true"] {
    box-shadow: unset;

    .mobile_header_activator_top_line {
      transform: translateY(0.35em) rotate(-45deg);
    }

    .mobile_header_activator_middle_line {
      opacity: 0;
    }

    .mobile_header_activator_bottom_line {
      transform: translateY(-0.35em) rotate(45deg);
    }

    .mobile_header_drop_down {
      height: 155px;
    }
  }
}

.mobile_header_top_side {
  display: flex;
  flex-direction: row;
  padding: 16px 20px;
  background-color: $mobile-header;
}

.mobile_header_top_right_side {
  flex: 1;
  text-align: end;
}

.mobile_header_activator {
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
}

.mobile_header_activator_top_line,
.mobile_header_activator_middle_line,
.mobile_header_activator_bottom_line {
  width: 1em;
  height: 2px;
  margin: 5px;
  display: block;
  border-radius: 5px;
  transition: all 0.4s;
  background-color: #ffffff;
}

.mobile_header_title {
  font-weight: bold;
  margin-right: 16px;
}

.mobile_header_grid_view {
  margin: auto;

  path {
    fill: #ffffff;
  }
}

.mobile_header_drop_down {
  height: 0;
  overflow: hidden;
  transition: all 0.4s;
  border-radius: 0 0 3px 3px;
  box-shadow: 0 1px 1px 0 $mobile-header;
}

.mobile_header_drop_down_item {
  display: block;
  text-align: end;
  color: #ffffff;
  padding: 10px 65px 10px 20px;
  border-bottom: 1px solid $mobile-header;
  background-color: lighten($mobile-header, 3%);
}

.mobile_header_drop_down_item:last-child {
  border-bottom: none;
}
