.container {
  display: flex;
  position: relative;
  flex-direction: row;
  scroll-snap-align: center;
  height: clamp(700px, 100vh, 1080px);
}

.landing_image {
  height: 110%;
}

@media (max-width: 1620px) and (min-width: 850px) {
  .landing_image {
    margin-left: calc(100vw - 1620px);
  }
}

@media (max-width: 850px) {
  .landing_image {
    position: absolute;
    right: calc(100% - 60px);
  }
}

.title {
  display: flex;
  margin: 0 14vw;
  min-height: 100%;
  font-weight: bold;
  user-select: none;
  padding-bottom: 15rem;
  vertical-align: middle;
  flex-direction: column;
  justify-content: center;
  font-size: clamp(30px, 3.2vw, 60px);
}

.title > p {
  margin: 0;
  text-align: end;
}

.title > p:nth-child(1) {
  color: #0a1f58;
}

.title > p:nth-child(1) span {
  color: #103cb7;
}

.title > p:nth-child(2) {
  color: #0a9ea2;
}

.title > p:nth-child(3) {
  margin-top: 3rem;
  color: #777777;
  font-weight: 500;
  text-align: right;
  font-size: clamp(14px, 1.1vw, 21px);
}
