.button {
  display: flex;
  color: #ffffff;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 6px;
  align-items: center;
  transition: all 0.5s;
  justify-content: center;
  background-color: #0088e3;

  &:hover {
    opacity: 0.8;
  }

  .label {
    user-select: none;
  }
}
