.fr-box.fr-basic .fr-wrapper {
  background: #00000000 !important;
  border-bottom: 1px solid #cccccc !important;
}

.fr-second-toolbar {
  display: none;
}

.fr-box.fr-basic {
  width: 100%;
}

.fr-toolbar {
  background: #dadde0 !important;
}
