$header-background-color: #265ecd;

.rectangle {
  display: flex;
  overflow: hidden;
  margin: 5% auto 0;
  flex-direction: column;
  border-radius: 50px 10px 0 0;
  width: clamp(450px, 39vw, 600px);
  box-shadow: 1px 2px 2px 1px #7070709c;
}

.header {
  opacity: 0.9;
  color: #fff;
  width: 100%;
  height: 61px;
  display: flex;
  font-size: 16px;
  padding-right: 4%;
  align-items: center;
  justify-content: flex-end;
  border-radius: 50px 10px 0 0;
  background-color: $header-background-color;

  svg:nth-child(1) {
    width: 25px;
    color: #fff;
    height: 24px;
    margin: 0 0 0 15px;
    border-color: #fff;
  }
}

.content {
  display: flex;
  padding-top: 2rem;
  align-items: center;
}

.right {
  flex: 1;
  margin-right: 8%;
}

.left {
  display: table;
  margin-left: 8%;
  position: relative;
}

.big {
  direction: rtl;
  line-height: 1;
  font-size: 24px;
  color: #454647;
  text-align: start;
  font-style: normal;
  font-weight: normal;
  object-fit: contain;
}

.small {
  opacity: 0.7;
  direction: rtl;
  color: #454647;
  font-size: 15px;
  text-align: start;
  font-style: normal;
  object-fit: contain;
  font-weight: normal;
}

.profile {
  margin-top: 10%;
  border-radius: 50%;
  width: clamp(150px, 12vw, 230px);
  height: clamp(150px, 12vw, 230px);
}

.upload {
  bottom: 0;
  right: -50%;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
  width: clamp(60px, 7vw, 100px);
  height: clamp(60px, 7vw, 100px);
  transform: translate(-100%, 25%);
}

.add_photo {
  width: 65px;
  height: 65px;
  object-fit: none;
}

.upload_image {
  display: none;
}

.actions {
  display: flex;
  justify-content: space-evenly;
}

.change_button {
  width: 30%;
  opacity: 0.9;
  height: 32px;
  margin-top: 2rem;
  margin-bottom: 3%;
  align-self: center;
  background-color: $header-background-color;
}

.change {
  width: 75%;
  margin-left: auto;
}

.change > input {
  width: 100%;
  opacity: 0.7;
  height: 30px;
  border: none;
  padding: 15px;
  direction: rtl;
  font-size: 10px;
  border-radius: 5px;
}

.record_button {
  width: 30%;
  opacity: 0.9;
  height: 32px;
  margin-top: 2rem;
  margin-bottom: 3%;
  align-self: center;
  background-color: $header-background-color;
}

.input {
  margin-bottom: 10px;
}

.input_inner_container {
  box-shadow: none;
}
