$header-background-color: #265ecd;
.container {
}

.rectangle {
  display: flex;
  margin: 3% auto 0;
  object-fit: contain;
  border-radius: 10% 3%;
  flex-direction: column;
  width: clamp(390px, 28vw, 523px);
  box-shadow: 1px 2px 2px 1px #7070709c;
}

.header {
  opacity: 0.9;
  color: #fff;
  width: 100%;
  height: 61px;
  display: flex;
  font-size: 16px;
  padding-right: 4%;
  align-items: center;
  justify-content: flex-end;
  border-radius: 50px 10px 0 0;
  background-color: $header-background-color;

  img:nth-child(1) {
    width: 25px;
    color: #fff;
    height: 24px;
    margin: 0 0 0 15px;
    border-color: #fff;
  }
}

.upload {
  display: flex;
  margin: 25px 0;
  align-items: center;
  flex-direction: column;
}

.picture {
  border-radius: 50%;
  border: solid 3px #265ecd;
  width: clamp(60px, 7vw, 100px);
  height: clamp(60px, 7vw, 100px);
}

.upload_image {
  display: none;
}

.middle {
  width: 100%;
  text-align: right;
  padding: 0 2rem 15px;
}

.middle label {
  display: block;
  margin: 5px;
  text-align: right;
  font-size: 12px;
  color: #707070;
  opacity: 0.8;
}

.input {
  box-shadow: unset !important;
}

.middle input {
  width: 100%;
  height: 35px;
  border: none;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0.5px 0.5px 1px 1px #707070;
}

.below {
  width: 100%;
  text-align: right;
  padding: 0 2rem 15px;
}

.below label {
  display: block;
  margin: 5px;
  text-align: right;
  font-size: 12px;
  color: #707070;
  opacity: 0.8;
}

.below input {
  width: 100%;
  height: 85px;
  border-radius: 5px;
  box-shadow: 0.5px 0.5px 1px 1px #707070;
  border: none;
}

.enter_button {
  width: 40%;
  opacity: 0.9;
  height: 32px;
  align-self: center;
  margin-bottom: 15px;
  background-color: $header-background-color;
}
