.top {
  width: 92%;
  height: 14vh;
  min-height: 100px;
  border-radius: 5px;
  background-color: #0088e3;
  margin: 5.5vh auto 7.9vh auto;
}

.inner_top {
  display: flex;
  flex-direction: row;
  direction: rtl;
  align-items: flex-end;
  justify-content: end;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.search_button {
  height: 3.6vh;
  min-height: 30px;
  display: flex;
  margin-right: 5.6%;
  margin-bottom: 10px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #083da6;
  width: clamp(90px, 7.8%, 120px);

  span {
    font-size: clamp(10px, 0.9vw, 16px);
  }
}

.search_image {
  margin-left: 10%;
  height: clamp(15px, 49%, 20px);
  width: clamp(15px, 17.9%, 19px);
}

.input {
  width: 22%;
  display: flex;
  margin-left: 1.1%;
  margin-right: 1.6%;
  flex-direction: column;
  align-items: flex-start;
}

.input_label {
  color: white;
  font-size: 18px;
}

.ticket_table {
  width: 70vw;
  margin-left: auto;
  margin-right: auto;
}


.ticket_table, td, th {
  direction: rtl;
  user-select: none;
  text-align: center;
  border: 1px solid #bcb6b6;
}

th {
  color: white;
  height: 70px;
  vertical-align: middle;
  background-color: #2168bd;
}

td {
  height: 70px;
  font-size: 16px;
}

.td_id {
  width: 11%;
  color: #656a6c;
}

.td_title {
  width: 23.8%;
  color: #42a4d8;
  cursor: pointer;
}

.td_condition {
  width: 21.1%;
}

.hour {
  margin-left: 18.6%;
}

.td_start {
  width: 21.4%;
  color: #656a6c;
  white-space: pre-wrap;
}

.td_last {
  width: 22.7%;
  color: #656a6c;
}

.td_condition_container {
  color: white;
  margin: 0 auto;
  border-radius: 5px;
  display: inline-block;
  padding: 2px 10px;
  font-size: clamp(13px, 0.8vw, 16px);
}

.pagination {
  display: flex;
  margin-top: 5%;
  align-items: center;
  justify-content: center;

  .divider {
    width: 3px;
    height: 43px;
    margin: 0 15px;
    border-radius: 1px;
    background-color: #e8e8e8;
  }

  .pagination_page {
    width: 40px;
    height: 40px;
    display: flex;
    margin: 0 5px;
    font-size: 17px;
    cursor: pointer;
    user-select: none;
    border-radius: 5px;
    align-items: center;
    justify-content: center;

    &.active {
      color: white;
      background-color: #44adf2;
    }
  }

  .move_button {
    cursor: pointer;
  }
}
