.top {
  display: flex;
  flex-direction: row;
  direction: rtl;
  background-color: #0088e3;
  height: 14vh;
  width: 92%;
  align-items: center;
  justify-content: space-evenly;
  margin: 5.5vh auto 7.9vh auto;
  border-radius: 5px;
}

.search_button{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #083da6;
  width: clamp(90px,7.8%,120px);
  height: 3.6vh;
  font-size: clamp(10px,0.9vw,16px);
}

.search_image {
  width: clamp(15px,17.9%,19px);
  height: clamp(15px,49%,20px);
  margin-left: 10%;
}
.input{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.input_box{
  margin-top: 5px;
  border-radius: 8px;
  border-style: none;
  height: 3.6vh;
  width:15.6vw;
}

.input_label{
  color: white;
  font-size: 18px;
}

.ticket_table {
  width: 70vw;
  margin-left: auto;
  margin-right: auto;
}


.ticket_table, td, th {
  direction: rtl;
  border: 1px solid #bcb6b6;
  text-align: center;
}

th {
  background-color: #2168bd;
  color: white;
  height: 6.3vh;
  vertical-align: middle;
}

td {
  height: 5.7vh;
  font-size: 16px;
}

.td_id {
  width: 11%;
  color: #656a6c;
}

.td_title {
  width: 23.8%;
  color: #42a4d8;
}

.td_condition {
  width: 21.1%;
}

.hour{
  margin-left:18.6% ;
}
.td_start {
  width: 21.4%;
  color: #656a6c;
  white-space: pre-wrap;
}

.td_last {
  width: 22.7%;
  color: #656a6c;
}

.closed_condition {
  background-color: #295cc0;
  margin-left: auto;
  margin-right: auto;
  width: 39%;
  height: 50%;
  border-radius: 5px;
  color: white;
  font-size: clamp(13px,0.8vw,16px);
}

.answered_condition {
  background-color: #3d6cc9;
  margin-left: auto;
  margin-right: auto;
  width: 39%;
  height: 50%;
  border-radius: 5px;
  color: white;
  font-size: clamp(13px,0.8vw,16px);
}

.waiting_condition {
  background-color: #44adf2;
  margin-left: auto;
  margin-right: auto;
  width: 39%;
  height: 50%;
  border-radius: 5px;
  color: white;
  font-size: clamp(13px,0.8vw,16px);
}

.processing_condition {
  background-color: #0088e3;
  margin-left: auto;
  margin-right: auto;
  width: 39%;
  height: 50%;
  border-radius: 5px;
  color: white;
  font-size: clamp(13px,0.8vw,16px);
}

