$border_color: #cccccc;

.container {
  flex: 1;
  display: flex;
  padding: 15px 3vw;
  flex-direction: column;
}

.top {
  padding: 20px 0px;
  border-radius: 5px;
  background-color: #0088e3;
}

.inner_top {
  display: flex;
  direction: rtl;
  position: relative;
  flex-direction: row;
  justify-content: end;
  align-items: flex-end;
}

.search_button {
  height: 3.6vh;
  display: flex;
  min-height: 30px;
  margin-right: 5.6%;
  margin-bottom: 10px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #083da6;
  width: clamp(90px, 7.8%, 120px);

  span {
    font-size: clamp(10px, 0.9vw, 16px);
  }
}

.search_image {
  margin-left: 10%;
  height: clamp(15px, 49%, 20px);
  width: clamp(15px, 17.9%, 19px);
}

.input {
  width: 24%;
  display: flex;
  margin-right: 25px;
  flex-direction: column;
  align-items: flex-start;
}

.inputs {
  height: 35px;
  font-size: 18px;
}

.input_label {
  color: white;
  font-size: 18px;
}

.table {
  width: 100%;
  direction: rtl;
  table-layout: auto;
  text-align: center;
  border-spacing: 0 1.8vh;
  border-collapse: separate;

  th {
    border: none;
    color: white;
    background-color: #2168bd;

    &:first-of-type {
      border-radius: 0 10px 10px 0;
    }

    &:last-of-type {
      border-radius: 10px 0 0 10px;
    }
  }

  tr {
    height: 70px;
  }
  tbody > tr {
    cursor: pointer;
  }

  td {
    border-left: 0;
    border-right: 0;
    font-size: 16px;
    border-top: 1px solid $border_color;
    border-bottom: 1px solid $border_color;

    &:first-child {
      border-radius: 0 5px 5px 0;
      border-right: 1px solid $border_color;
    }

    &:last-child {
      border-radius: 5px 0 0 5px;
      border-left: 1px solid $border_color;
    }
  }
}

.td_condition_container {
  color: white;
  margin: 0 auto;
  border-radius: 5px;
  display: inline-block;
  padding: 2px 10px;
  font-size: clamp(13px, 0.8vw, 16px);
}

.pagination {
  margin-top: auto;
  margin-bottom: 4rem;
}
