.container {
  flex: 1;

  .add_topic {
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 20px 5vw 0;
    transition: all 0.2s;
    display: inline-block;
    background-color: #3d6cc9;
    box-shadow: 0 0 5px 0 #3d6cc9;

    &:hover {
      background-color: #4e7cd4;
      box-shadow: 0 0 5px 0 #4e7cd4;
    }

    p {
      margin: 0 10px;
      color: white;
      display: inline-block;
    }

    img {
      width: 25px;
      height: 25px;
      display: inline-block;
    }
  }

  .cards {
    display: flex;
    flex-wrap: wrap;
    overflow: scroll;
    margin: 12vh 5vw 0;
    justify-content: space-evenly;

    &::-webkit-scrollbar {
      display: none;
    }

    .card {
      width: 26.3%;
      height: 45.7vh;
      position: relative;

      &_header {
        display: flex;
        flex-direction: column;
        cursor: pointer;
        height: 69%;
      }

      &_avatar {
        height: 87%;
        border-top-right-radius: 40px;
      }

      &_edit {
        height: 13%;
      }

      &_edit_image {
        width: 17.5%;
      }

      &_footer {
        background-image: linear-gradient(to bottom, #0088e3, #2d1e1e 139%);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 20.7vh;
        width: 16.1vw;
        border-radius: 5px 5px 0 20px;
        position: absolute;
        z-index: 1;
        top: 54.6%;
        left: 17%;

        span {
          color: white;
          font-size: clamp(18px, 1.4vw, 27px);
          font-weight: 600;
          user-select: none;
          margin-bottom: clamp(5%, 10%, 23px);
        }

        p {
          width: 77.4%;
          color: #f9f1f1;
          user-select: none;
          text-align: center;
          font-size: clamp(12px, 1vw, 19px);
        }
      }
    }
  }
}
