.container {
  width: 100%;
  cursor: pointer;
  text-align: end;
  margin-top: 10px;
  position: relative;

  .label {
    color: #333333;
    margin-bottom: 10px;
  }

  .content {
    display: flex;
    padding: 10px 15px;
    border-radius: 5px;
    background-color: #dadde0;
    border: 1px solid #e3e3e3;

    p {
      flex: 1;
      margin: 0;
      text-align: end;
    }
  }

  .arrow_down {
  }

  &[data-open='false'] {
    .items {
      display: none;
    }
  }

  .selected_item_label {
    color: #606f7b;
    cursor: pointer;
  }

  .items {
    width: 100%;
    padding: 10px;
    cursor: pointer;
    transition: 0.6s;
    position: absolute;
    border-radius: 8px;
    background-color: #eeeff1;
    box-shadow: 0 3px 6px 0 rgb(0 0 0 / 16%);

    .item {
      color: #000;
      margin: 0.5px;
      display: block;
      text-align: end;
      padding: 8px 20px;

      &:hover {
        overflow: hidden;
        position: relative;
        border-radius: 5px;
        background-color: #dadde0;
      }
    }
  }
}
