.container {
  height: 100%;
}

.header {
  display: flex;
  flex-direction: row;
  height: clamp(700px, 100vh, 1080px);
}

.landing_image {
  height: 100%;
}

.nav_link > a {
  color: #707070;
}

.nav {
  width: 28%;
  margin-left: 3%;
  padding-top: 75px;
}

.nav ul {
  padding: 0;
  display: flex;
  list-style: none;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.nav li {
  font-size: clamp(14px, 2vw, 23px);
}

