$mobile-header: #1743bf;

.container {
  height: 100%;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

.header {
  display: flex;
  position: relative;
  flex-direction: row;
  scroll-snap-align: center;
  height: clamp(700px, 100vh, 1080px);
}

.landing_image {
  height: 110%;
}

@media (max-width: 1620px) and (min-width: 850px) {
  .landing_image {
    margin-left: calc(100vw - 1620px);
  }
}

@media (max-width: 850px) {
  .landing_image {
    position: absolute;
    right: calc(100% - 60px);
  }
}

.nav_link > a,
.nav_link > div {
  cursor: pointer;
  color: #707070;
  font-size: clamp(15px, 1.1vw, 20px);
}

.nav {
  padding-top: 8.5vh;
  margin-left: clamp(40px, 3.6vw, 70px);
  margin-right: clamp(26px, 7.2vw, 137px);

  @media screen and (max-width: 720px) {
    display: none;
  }
}

.nav img:nth-child(1) {
  width: 2rem;
  height: 2rem;
  margin: 0 0 0 3vw;
}

.nav img:nth-child(2) {
  width: 3.6rem;
  height: 3rem;
  margin: 0 0 0 2vw;
}

svg {
  width: 2rem;
  height: 2rem;
  margin: 0 0 0 3vw;
}

.nav ul {
  padding: 0;
  display: flex;
  list-style: none;
  justify-content: space-between;
}

.nav li {
  display: flex;
  align-items: center;
  font-size: clamp(14px, 2vw, 18px);
}

.title {
  display: flex;
  margin: 0 14vw;
  min-height: 100%;
  font-weight: bold;
  padding-bottom: 15rem;
  vertical-align: middle;
  flex-direction: column;
  justify-content: center;
  font-size: clamp(30px, 3.2vw, 60px);
}

.title > p {
  margin: 0;
  text-align: end;
}

.title > p:nth-child(1) {
  color: #0a1f58;
}

.title > p:nth-child(1) span {
  color: #103cb7;
}

.title > p:nth-child(2) {
  color: #0a9ea2;
}

.title > p:nth-child(3) {
  margin-top: 3rem;
  text-align: right;
  color: #777777;
  font-weight: 500;
  font-size: clamp(14px, 1.1vw, 21px);
}

.main {
  direction: rtl;
  min-height: 105vh;
  scroll-snap-align: start;
}

.main_title {
  display: inline-block;
  margin: 2rem 5rem;
  color: #2d1e1e;
  border-bottom: solid 5px #26a9ad;
  font-weight: bold;
  font-size: clamp(25px, 2vw, 35px);
}

.topic_container {
  width: calc(100% - 10rem);
  display: flex;
  flex-flow: row wrap;
  margin: 2rem 5rem;
  justify-content: space-between;
}

@media (max-width: 780px) {
  .topic_container {
    width: calc(100%);
    margin: 2rem 0;
    justify-content: center;
  }
}

.footer {
  direction: rtl;
  width: 100%;
  border-top: solid 20px #0a9fa3;
  background-color: rgba(3, 19, 115, 0.88);
  padding: 1rem 0;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  scroll-snap-align: center;
}

@media (max-width: 1100px) {
  .footer {
    align-items: end;
    flex-direction: column;
  }
}

.footer_contact {
  flex: 50%;
}

.footer_contact p {
  color: white;
  margin: 1rem 6vw;
  font-weight: bold;
  font-size: clamp(30px, 2.4vw, 43px);
}

.footer_contact p img,
.footer_contact p svg {
  width: 4rem;
  height: 3.3rem;
  margin: 0 0.5rem;
}

.footer_contact div {
  display: flex;
  color: #d4d8e3;
  align-items: center;
  margin: 2rem 12vw 0 0;
  font-size: clamp(13px, 0.8vw, 15px);
}

.footer_contact div img,
.footer_contact div svg {
  width: 3rem;
  height: 3rem;
  margin: 0 0.5rem;
}

.footer_social {
  flex: 50%;
  display: flex;
  align-items: center;
  flex-flow: row nowrap;
  justify-content: center;
}

@media (max-width: 1100px) {
  .footer {
    align-items: end;
    flex-direction: column;
  }

  .footer_social {
    margin-top: 1rem;
    align-self: center;
  }
}

.footer_social div {
  width: 3rem;
  height: 3rem;
  margin: 0.5rem 1rem;
}

.footer_social div img,
.footer_social div svg {
  width: 100%;
  height: 100%;
}

.mobile_header {
  position: fixed;
  display: none;
  width: 100%;
  right: 0;
  top: 0;
  color: #ffffff;
  font-size: 20px;
  flex-direction: column;
  box-shadow: 0 1px 1px 0 $mobile-header;
  z-index: 100;

  @media screen and (max-width: 720px) {
    display: flex;
  }

  &[data-active="true"] {
    box-shadow: unset;

    .mobile_header_activator_top_line {
      transform: translateY(0.35em) rotate(-45deg);
    }

    .mobile_header_activator_middle_line {
      opacity: 0;
    }

    .mobile_header_activator_bottom_line {
      transform: translateY(-0.35em) rotate(45deg);
    }

    .mobile_header_drop_down {
      height: 155px;
    }
  }
}

.mobile_header_top_side {
  display: flex;
  flex-direction: row;
  padding: 16px 20px;
  background-color: $mobile-header;
}

.mobile_header_top_right_side {
  flex: 1;
  text-align: end;
}

.mobile_header_activator {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
}

.mobile_header_activator_top_line,
.mobile_header_activator_middle_line,
.mobile_header_activator_bottom_line {
  display: block;
  background-color: #ffffff;
  border-radius: 5px;
  width: 1em;
  height: 2px;
  margin: 5px;
  transition: all 0.4s;
}

.mobile_header_title {
  margin-right: 16px;
  font-weight: bold;
}

.mobile_header_grid_view {
  margin: auto;

  path {
    fill: #ffffff;
  }
}

.mobile_header_drop_down {
  border-radius: 0 0 3px 3px;
  overflow: hidden;
  box-shadow: 0 1px 1px 0 $mobile-header;
  height: 0;
  transition: all 0.4s;
}

.mobile_header_drop_down_item {
  display: block;
  color: #ffffff;
  text-align: end;
  padding: 10px 65px 10px 20px;
  border-bottom: 1px solid $mobile-header;
  background-color: lighten($mobile-header, 3%);
}

.mobile_header_drop_down_item:last-child {
  border-bottom: none;
}
