.App {
  text-align: center;
}

.AppLogo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .AppLogo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.AppHeader {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.AppName {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.container{
  background-image: url("../../Assets/Images/Files/home.png");
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
}

.nav_link{
  color: #707070;
}

.nav{
  padding-top: 50px;
  padding-left: 40%;
}

.nav ul {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  justify-content: flex-end;
  list-style: none;
}

.nav li{
  padding-left: 5%;
  font-size: clamp(14px, 2vw, 23px);
  font-family: Shabnam;
}

