.container {
  height: 100%;
  background-size: contain;
  background-repeat: repeat;
  background-image: url("../../Assets/Svgs/components/seamless_backgroud.svg");
}

.header {top: 0;
  width: 100%;
  height: 13%;
  position: fixed;
  background-size: inherit;
  background-repeat: repeat-x;
  background-position-x: center;
  background-image: url("../../Assets/Svgs/components/wave.svg");
}
