.container {
  height: 100%;
  background-size: contain;
  background-repeat: repeat;
  background-image: url("../../Assets/SVGs/Files/seamless_backgroud.svg");
}

.header {
  top: 0;
  width: 100%;
  height: 46%;
  position: fixed;
  background-size: inherit;
  background-repeat: repeat-x;
  background-position-x: center;
  background-image: url("../../Assets/SVGs/Files/wave.svg");
}
