$input_background_color: #fff;

.input_box_title {
  color: #2682cd;
  margin-bottom: 10%;
  align-self: center;
  font-family: IRANMarker;
  font-size: clamp(16px, 2vw, 48px);
}

.input_class {
  width: 79%;
  margin: 0 auto 8%;
}

.input {
  width: 100%;
  font-size: clamp(14px, 1.1vw, 20px);
  background-color: $input_background_color;
}

.input_label {
  font-size: clamp(14px, 1.1vw, 20px);
}

.inner_container {
  background-color: $input_background_color;
}

.enter_button {
  width: 40%;
  height: 42px;
  align-self: center;
}
