.container {
  top: 40%;
  left: auto;
  width: 55%;
  position: fixed;
  z-index: 100;
  background-color: #dadde0;
  border: 1px solid #e3e3e3;
  border-radius: 5px;

  .state1 {
    cursor:pointer;
    z-index: 200;
    top: 43%;
    position: fixed;
    left: 330px;
  }

  &:hover{
    border:1px solid blue;
    border-radius: 5px;
  }
  &[data-active='true'] {
    box-shadow: unset;
    .drop_down {
      height: 180px;
    }
  }
  .text {
    font-size: 15px;
    padding-top: 10px;
    margin-left: 640px;
    color: #606f7b;
    cursor: pointer;
  

  }

  .drop_down {
    cursor: pointer;
    background-color: #eeeff1;
    height: 0;
    overflow: hidden;
    transition: 0.6s;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;


    .labelBox {
      display: block;
      text-align: end;
      color: #000;
      padding: 8px 20px;
      margin: .5px;


    &:hover {
      background-color:#dadde0;
      border-radius:5px;
      overflow: hidden;
      position: relative;
    }
    }
  }
}

