#root {
  height: 100%;
  overflow: hidden;
}

html,
body {
  height: 100%;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body,
p,
textarea,
button,
input,
li,
nav,
th,
td {
  font-family: Shabnam, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif !important;
}

input,
textarea {
  outline: none;
  user-select: text;

  // for password eye
  &::-ms-clear,
  &::-ms-reveal {
    display: none;
  }
}

.ant-btn {
  padding-top: 0 !important;
  border-radius: 8px !important;
}

.fr-box.fr-basic .fr-element.fr-view {
  font-size: 18px;
}
