$button_color: #328ddc;
$input_background_color: #fff;

.input_box_title {
  color: #2682cd;
  margin-bottom: 10%;
  align-self: center;
  font-family: IRANMarker;
  font-size: clamp(16px, 2.0vw, 48px);
}

.input_class {
  width: 79%;
  margin: 0 auto 12%;
}

.input {
  width: 100%;
  background-color: $input_background_color;
}

.inner_container {
  background-color: $input_background_color;
}

.forget_pass {
  color: #515457;
  margin-top: 15px;
  font-weight: 500;
  align-self: center;
  text-decoration: none;
  font-size: clamp(16px, 1.0vw, 48px);
}

.enter_button {
  width: 40%;
  height: 42px;
  align-self: center;
}